<h1>Admin</h1>

<h2>Shops</h2>

<.form let={f} for={:switch} action={Routes.page_path(@conn, :switch)}>
  <%= label f, :shop, "Shop" %>
  <%= select(f, :shop, Enum.map(@shops, &{&1.name, &1.id})) %>

  <div>
    <%= submit "Switch" %>
  </div>
</.form>
